PORT=5020
MONGO_URI=mongodb://127.0.0.1:27017/hucems_db
JWT_SECRET=change_this_hucems_secret
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173,https://hu.elivateict.com/,www.https://hu.elivateict.com/
